* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #050B1F;
    color: white;
    /* padding-top: 100px; */
}

/* NAV BAR */

nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(15, 23, 42, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1.5rem 2rem;

}


.nav-logo {
    /* color: white; */
    font-size: 18px;
    color: white;
}


.C {
    color: #e056fd;
}

.h {
    color: #cf53fb;
}

.i {
    color: #be55fa;
}

.o {
    color: #ab57f9;
}

.m {
    color: #9b51e0;
}

.a {
    color: #8c62ff;
}

.nav-link {
    display: flex;
    gap: 3rem;
}

/* Nav icons  */
.nav-icons{
    display: flex;
    gap: 2rem;
}

.nav-icons a{
    border-radius: 50%;
    padding: 1rem .85rem;
    background-color: rgba(15, 23, 42, 0.7);
    text-decoration: none;
    color: white;
    font-size:1.3rem;
}

.nav-link a {
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;

}
.nav-link a.active::after,
.nav-link a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: linear-gradient(90deg, #a855f7, #3b82f6);
}
/* END OF NAVBAR*/


   /* ABOUT HERO */
.about-hero {
    /* min-height: 520px; */
    height: 520px;
    padding: 100px 7% 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    background: #050b1f;
    position: relative;
    overflow: hidden;
}

/* Background glow */

.about-hero::before {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    background: #6d28d9;
    opacity: 0.14;
    filter: blur(120px);
    right: 25%;
    top: 30px;
    border-radius: 50%;
}


/* Hero text */
.about-hero-text {
    width: 46%;
    position: relative;
    z-index: 2;
}

/* About label */
.about-label {
    display: inline-block;
    padding: 0.5625rem 1.1875rem;
    border: 1px solid #8b5cf6;
    border-radius: 30px;
    background: rgba(139, 92, 246, 0.08);
    color: #d8b4fe;
    font-size: 14px;
    margin-bottom: 1.25rem;
}

/* Heading */
.about-hero h1 {
    color: white;
    font-size: 58px;
    line-height: 1.08;
    margin-bottom: 22px;
}


.about-hero h1 span {
    display: block;
    background: linear-gradient(
        90deg,
        #a855f7, #3b82f6, #22d3ee ); -webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

/* Paragraph */

.about-hero-text p {
    color: #b9c3da;
    font-size: 16px;
    line-height: 1.8;
    width: 100%;
    margin-bottom: 0.5rem;
}

/* Small gradient line */

.about-line {
    width: 90px;
    height: 4px;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: linear-gradient( 90deg, #a855f7, #22d3ee );
}


   /* ABOUT HERO IMAGE */
.about-hero-image {
    width: 52%;
    position: relative;
    /* z-index: 2; */
}


.about-hero-image::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: #2563eb;
    opacity: 0.20;
    filter: blur(90px);
    left: 80px;
    top: 60px;
    border-radius: 50%;
}


.about-hero-image img {
    width: 100%;

    max-width: 650px;

    display: block;

    position: relative;

    z-index: 2;

    border-radius: 20px;

    border: 1px solid rgba(139, 92, 246, 0.8 );
    box-shadow:  0 0 35px rgba( 124, 58,  237, 0.25 );
}
   /* ABOUT LANDING */
.about-landing {
    padding: 85px 7% 100px;
    background: #030817;
    display: grid;
    grid-template-columns: 1fr 1.15fr 0.85fr;
    gap: 38px;
    align-items: start;
    border-top: 1px solid rgba(56, 189,  248, 0.3);
}

   /* MY STORY */

.my-story {
    padding-right: 15px;
}


.section-label {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #8b5cf6;
    border-radius: 25px;
    color: #d8b4fe;
    background: rgba(139, 92, 246, 0.08);
    font-size: 13px;
    margin-bottom: 18px;
}


.my-story h2 {
    color: white;
    font-size: 34px;
    line-height: 1.1;
    margin-bottom: 20px;
}


.my-story h2 span {
    display: block;
    background: linear-gradient( 90deg, #a855f7,  #3b82f6 );-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.my-story p {
    color: #a8b2c9;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 1.125rem;
}

.story-quote {
    margin-top: 28px;
    color: #a855f7;
    font-size: 20px;
    font-style: italic;
    line-height: 1.35;
}

   /* MY SKILLS */
.my-skills {
    padding-left: 1.75rem;
    border-left: 1px solid rgba(99, 102, 241, 0.25 );
}

.my-skills h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 22px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}


.skill-card {
    height: 120px;
    padding: 17px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba( 37, 99, 235, 0.5 );
    border-radius: 12px;
    background: rgba( 5, 11, 31, 0.65 );
    transition: 0.3s ease;
}


.skill-card:hover {
    transform: translateY(-5px);
    border-color: #a855f7;
    box-shadow: 0 10px 30px rgba( 124, 58, 237,  0.18 );
}


.skill-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba( 168, 85, 247, 0.2 );
    color: #c084fc;
    font-size: 18px;
    margin-bottom: 10px;
}


.skill-icon.blue {
    background: rgba( 37, 99, 235, 0.2 );
    color: #38bdf8;
}


.skill-card h3 {
    color: white;
    font-size: 13px;
    margin-bottom: 0.3125rem;
}


.skill-card p {
    color: #8995ad;
    font-size: 11px;
    margin: 0;
}



.about-information {
    padding: 22px;
    border: 1px solid #a855f7;
    border-radius: 16px;
    background: rgba(5, 11, 31, 0.65 );
    box-shadow: 0 10px 40px rgba(76, 29,  149, 0.12 );
}
/* .about-information :hover{
     transform: translateY(-5px);
    border-color: #a855f7;
    box-shadow: 0 10px 30px rgba( 124, 58, 237,  0.18 );
} */


.information-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 22px;
}


.information-item:last-child {
    margin-bottom: 0;
}


.information-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba( 124, 58, 237, 0.2 );
    color: #c084fc;
    font-size: 15px;
}


.information-item span {
    display: block;
    color: #c084fc;
    font-size: 12px;
    margin-bottom: 4px;
}


.information-item p {
    color: #d2d9e8;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}



  
/* FOOTER */
.footer {
    width: 100%;
    height: 350px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    overflow-x: hidden;
}

.footer-content {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */

}

.footer-content h2 span {
    margin-top: 7rem;
     background: linear-gradient(90deg, #a78bfa, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.h2 symbol .my-1{
     background: linear-gradient(90deg, #a78bfa, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.footer-title {
    padding-left: 5rem;
    font-size: 0.7rem;
    width: fit-content;
    letter-spacing: 0.10rem;
}

.my-1 {
    letter-spacing: 0.5rem;
    margin-right: 8rem;
}

.symbol {
    padding-left: 3rem;
}

.footer-content p {
    width: 34%;
    margin-left: 3rem;
    margin-top: 1.2rem;
    line-height: 1.5;
    font-size: 13px;
}

.footer-button {
    width: 45%;
    height: 35%;
    margin-top: 1rem;
    margin-left: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    border: none;
    border: 2px solid #a78bfa;
    color: white;
    border-radius: 10px;
    /* border: none; */
    letter-spacing: 0.1rem;
    background-color: transparent;
}


.footer-links h3 span {
    margin-bottom: 2rem;
    padding-right: 7rem;
    background: linear-gradient(90deg, #a78bfa, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.Quick-links {
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    margin-left: -2rem;
    /* white-space: nowrap; */
}

.footer-links {
    width: 60%;
    margin-top: 3rem;
    text-decoration: none;
    margin-right: 3rem;
}

.footer-links li a {
    text-decoration: none;
    padding-bottom: 0.4rem;
    margin-top: 2rem;
    /* margin-left: 0;
    padding-left: 0;
    position: static; */
}

.footer-links ul {
    /* list-style: none; */

}

.footer-links ul li a {
    color: white;
    padding-bottom: 1rem;
    font-size: 0.1;
    text-decoration: none;

}

.footer-links li {
    margin-bottom: 30px;
    color: #38bdf8;
}

.footer-icons {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
}



.footer-icons a {
    color: #38bdf8;
    margin-top: 2rem;
    text-decoration: none;
    padding-left: 0.5rem;
    font-size: 1.41rem;

}

.icons {
    margin-top: 1rem;
    /* padding-left: 2rem; */
    /* font-size: 1rem; */
}

.footer-img {
    width: 50%;
    height: 60%;
    object-fit: contain;
    bottom: 0;
    right: 20px;
    /* position: absolute; */
}

/* MEDIA QUERRY */

@media (max-width: 768px) {


     /* NAVBAR */

    nav {
        width: 100%;
        height: auto;
        min-height: 115px;
        padding: 0.8rem 1rem;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 0.6rem;
        z-index: 100;
    }

     
    .nav-logo {
        font-size: 16px;
        margin: 0;
        align-self: flex-start;
    }

    .nav-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }

    .nav-link a {
        font-size: 13px;
        padding-bottom: 4px;
        white-space: nowrap;
    }

    .nav-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
    }

    .nav-icons a {
        padding: 0.45rem 0.5rem;
        font-size: 0.9rem;
    }

    .about-hero {
        padding: 105px 6% 60px;
        margin-top: 2.5rem;

        flex-direction: column;

        align-items: flex-start;

        gap: 35px;
    }


    .about-hero-text {
        width: 100%;
    }


    .about-hero h1 {
        font-size: 44px;
    }


    .about-hero-text p {
        font-size: 15px;
    }


    .about-hero-image {
        width: 100%;
    }


    .about-landing {
        grid-template-columns: 1fr;

        padding: 70px 6% 80px;

        gap: 45px;
    }


    .my-story {
        padding-right: 0;
    }


    .my-skills {
        padding-left: 0;

        padding-top: 35px;

        border-left: none;

        border-top: 1px solid rgba(
            99,
            102,
            241,
            0.25
        );
    }


    .skills-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }


    .about-information {
        width: 100%;
    }

    /* FOOTER */

    .footer {
        width: 100%;
        height: auto;
        min-height: 700px;

        margin-top: 0;
        padding: 3rem 1.5rem;

        display: block;
        overflow: hidden;
    }

    .footer-content {
        width: 100%;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        gap: 2rem;
    }

    .footer-title {
        width: 100%;
        padding-left: 0;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 0.7rem;
    }

    .my-1 {
        margin-right: 0;
        letter-spacing: 0.3rem;
        margin-top: 10rem;
    }

    .symbol {
        padding-left: 0;
    }

    .footer-content p {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.6;
    }

    .footer-button {
        width: 200px;
        height: 45px;
        margin: 0 auto;
        padding: 0.7rem;
    }

    .footer-links {
        width: 100%;
        margin: 1rem 0 0;
        text-align: center;
    }

    .footer-links h3 span {
        padding-right: 0;
    }

    .Quick-links {
        margin: 0 0 1rem;
    }

    .footer-links ul {
        padding: 0;
        list-style: none;
    }

    .footer-links li {
        margin-bottom: 15px;
    }

    .footer-links ul li a {
        font-size: 14px;
        padding-bottom: 0;
    }

    .footer-icons {
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        /* margin-right: 0rem;
        margin-left: 0rem; */
        margin: 0 auto;
        padding: 0;
    }

    .footer-icons a {
        margin-top: 0;
        padding-left: 0;
        padding-right: o;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        /* margin-right: 3rem; */
        font-size: 1.3rem;
    }

    .footer-img {
        width: 80%;
        max-width: 250px;
        height: auto;
        margin: 1rem auto 0;
        display: block;
    }


}

